---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
---

<Layout title="Traverse Ridge Digital">
  <Header />
  <main class="mx-auto max-w-7xl px-6 py-12">
  </main>
</Layout>
